<!--
  Title: not-found.component.html
  Author: Richard Krasso
  Modified By: Patrick Cuauro
  Date: 09/13/2023
  Description: not-found.component.html
-->
<div fxLayout="column">

    <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 18%;" class="mat-elevation-z0">
        <mat-card-title>
            <div>
                <img src="../../assets/404-not-found.jpg" style="width: 400px;">
                <em>
                    Photo by Freepik.com on <a class="attribution-link" href="http://www.freepik.com"
                        target="_blank">Designed by stories - Freepik</a>
                </em>
            </div>
        </mat-card-title>
        <mat-card-content style="text-align: center; padding-left: 30%;">
            <button mat-raised-button color="accent" routerLink="/">Return Home</button>
        </mat-card-content>
    </mat-card>


</div>