<!--
  Title: about.component.html
  Author: Richard Krasso
  Modified By: Patrick Cuauro
  Date: 09/06/2023
  Description: HTML for the app component
-->
<div fxLayout="row wrap">
    <div fxFlex>
        <div fxLayout="column">

            <div>

                <img src="../assets/thomas-schweighofer-5dB9WGpJbFc-unsplash.jpg" />
            </div>
            <div>
                <em>
                    Photo by Thomas Schweighofer on <a class="attribution-link"
                        href="https://unsplash.com/photos/5dB9WGpJbFc" target="_blank">Unsplash</a>
                </em>
            </div>
        </div>
        <div fxFlex>
            <h1 class="blue">Who was J.R.R. Tolkien?</h1>

            <p>
                John Ronald Reuel Tolkien was an English writer, poet, philologist, and academic, who is best known as
                the author of the classic high fantasy works The Hobbit, The Lord of the Rings, and The Silmarillion.
            </p>
            <em>Biography by: <a href="https://www.tolkiensociety.org/author/biography" target="_blank"
                    class="attribution-link">David Doughan MBE</a></em>
        </div>
    </div>