<div class="container">
    <h2>Patrick Kavanaugh</h2>
    <br /><br />
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <img src="../assets/Kavanaugh-Patrick-300x267.jpg" alt="Patrick Kavanaugh" width="100%  " height="100%">
        </div>
        <div class="col-sm-8">

            <p>Patrick Kavanaugh (1954-2018) was a composer, conductor, and author. He was born in Nashville,
                Tennessee, and studied music at the University of Tennessee, the University of Michigan, and the
                University of Southern California. He received his doctorate in music composition from USC in 1984.
                Kavanaugh's music has been performed by orchestras and ensembles around the world. He has also
                written several books on music, including "The Spiritual Lives of the Great Composers" and "Worship
                - A Way of Life."
                From 1984 until his death, Kavanaugh served as the executive director of the Christian Performing
                Artists' Fellowship. He was also a founding member of the MasterWorks Festival, a summer music
                program for Christian artists.
                Kavanaugh died of a heart attack in 2018. He was 63 years old.
            </p>
        </div>
    </div>
</div>