/*  Title: BookListComponent.scss
 *  Author: Richard Krasso
 *  Modified by: Patrick Cuauro
 *  Date: 09/07/2023
 *  Description: Book List Component CSS file
*/

.a-link{
    text-decoration: none;
    cursor: pointer;
}

.a-link:hover{
    text-decoration: underline;
}