<!--
  Title: base-layout.component.html
  Author: Richard Krasso
  Modified By: Patrick Cuauro
  Date: 09/19/2023
  Description: base-layout.component.html
-->
<mat-toolbar color="primary">

    <mat-toolbar-row>

        <div class="logo">
            <img src="../../assets/gpa-calculator-app.png" height="80" />
        </div>

        <div style="width: 80%">
            <div FxLayout="row wrap" fxLayoutAlign="end start">
                <button mat-button routerLink="/">Home</button>
                <button mat-button (click)="signOut()">Sign Out</button>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<br />
<div fxLayout="row wrap">
    <div fxFlex>
        <mat-card class="main-container mat-elevation-z0">
            <mat-card-title style="margin-top: 15px; margin-left: 10px;">{{ assignment }}</mat-card-title>
            <br /><br />
            <mat-card-content>
                <router-outlet>
                    <h1>Test</h1>
                </router-outlet>
            </mat-card-content>
        </mat-card>
    </div>