/**
* Title: app.component.scss
* Author: Richard Krasso
* Modified by: Patrick Cuauro
* Date: 09/06/2023
* Description: App component scss file
*/
.logo {
    margin-top: 5px;
}
.main-container {
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
}